.toolbar {
  color: rgb(146, 146, 146);
  font-size: 14px;
  margin: 0 6px;
  cursor: default;
  transition: background-color 0.1s;
  position: relative;
}

.toolbar:hover {
  background-color: rgb(84, 84, 84);
  transition: background-color 0.1s;
}

.toolbar .tooltiptext {
  display: none;
  text-wrap: nowrap;
  background-color: rgb(27, 27, 27);
  color: #fff;
  opacity: 0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);

  /* Position the tooltip */
  position: absolute;
  bottom: -40px;
  left: 0px;
  z-index: 1;
  pointer-events: none;

}

.toolbar:hover .tooltiptext {
  display: block;
  pointer-events: none;
  animation: tooltip 1s forwards cubic-bezier(0, 0.99, 0, 1);
}

@keyframes tooltip {
  0% {
    display: none;
    opacity: 0;
  }

  50% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}